<div
  id="drawing-page-portrait"
  class="flex h-full w-full flex-col justify-center bg-amber-50 landscape:flex-row-reverse"
>
  <div
    class="flex-grown canvas-container relative flex flex-1 items-center justify-center overflow-hidden p-0"
  >
    <div class="paper-container relative">
      <canvas #canvas id="drawing-canvas" class="touch-none shadow-lg"></canvas>
      <div
        class="absolute -bottom-2 -left-2 h-8 w-8 rounded-full bg-yellow-300"
      ></div>
      <div
        class="absolute -bottom-2 -right-2 h-8 w-8 rounded-full bg-red-300"
      ></div>
      <div
        class="absolute -right-2 -top-2 h-8 w-8 rounded-full bg-blue-300"
      ></div>
      <div
        class="absolute -left-2 -top-2 h-8 w-8 rounded-full bg-green-300"
      ></div>
    </div>
    <div
      [ngStyle]="{
        'background-color': activeColor(),
        width: penWidth() + 'px',
        height: penWidth() + 'px',
      }"
      [ngClass]="{
        hidden: !showPreview(),
      }"
      class="preview"
      #preview
    ></div>
  </div>
  <div
    class="flex items-center justify-center portrait:mb-5 portrait:flex-row portrait:space-x-5 landscape:ml-10 landscape:flex-col landscape:space-y-5"
  >
    <button
      (click)="undo()"
      class="flex items-center justify-center rounded-2xl bg-amber-100 px-4 py-2 text-amber-800 transition-all duration-300 hover:bg-amber-200 active:scale-95"
    >
      <i class="fa fa-undo text-2xl"></i>
    </button>

    <button
      (click)="toggleBrushSettings()"
      [ngClass]="{
        'border-2 border-solid border-amber-800': showBrushSettings(),
      }"
      class="flex items-center justify-center rounded-2xl bg-amber-100 px-4 py-2 text-amber-800 shadow-md transition-all duration-300 hover:scale-105 hover:shadow-lg active:scale-95"
    >
      @if (brushType() === BrushType.Marker) {
        <i class="fas fa-marker text-xl"></i>
      } @else if (brushType() === BrushType.Crayon) {
        <i class="fas fa-pencil text-xl"></i>
      }
    </button>
    <button
      (click)="downloadDrawing()"
      class="flex items-center justify-center rounded-2xl bg-amber-100 px-4 py-2 text-amber-800 transition-all duration-300 hover:scale-105 hover:bg-amber-200 hover:shadow-lg active:scale-95"
    >
      <i class="fas fa-download text-2xl"></i>
    </button>
  </div>
</div>

<div
  class="flex h-full w-full items-center justify-center"
  [ngClass]="{
    'fixed inset-0 z-20 bg-black bg-opacity-70': downloading(),
    hidden: !downloading(),
  }"
>
  <app-spinner></app-spinner>
</div>

<!-- 笔刷设置，颜色，画笔粗细 -->
<div
  class="fixed z-20 flex h-[calc(100vh-232px)] w-full transform flex-col items-center justify-end bg-amber-50 bg-opacity-50 backdrop-blur-md transition-all duration-500 ease-[cubic-bezier(0.68,-0.55,0.27,1.55)] sm:h-[calc(100vh-262px)] sm:px-10 md:px-20 portrait:bottom-[148px] landscape:bottom-0 landscape:left-[108px] landscape:top-32 landscape:w-[calc(100vw-208px)]"
  [ngClass]="{
    hidden: !showBrushSettings(),
    block: showBrushSettings(),
  }"
  (click)="toggleBrushSettings()"
>
  <div
    class="mx-3 mt-0 flex h-fit w-full flex-col justify-end rounded-3xl border-4 border-amber-200 bg-amber-50 p-4 shadow-lg"
    (click)="$event.stopPropagation()"
    style="
      background-image: url(&quot;data:image/svg+xml;utf8,<svg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'><circle cx='20' cy='20' r='3' fill='%23ffd6e7' opacity='0.5'/><circle cx='50' cy='50' r='4' fill='%23ffd6e7' opacity='0.5'/><circle cx='80' cy='30' r='2' fill='%23ffd6e7' opacity='0.5'/></svg>&quot;);
    "
  >
    <div class="flex w-full items-center justify-between">
      <h2 class="text-2xl font-bold text-primary">✏️ 画笔魔法棒 ✏️</h2>
      <button
        (click)="toggleBrushSettings()"
        class="rounded-full bg-amber-200 p-2 hover:scale-125 hover:bg-amber-300"
      >
        <i class="fas fa-times text-2xl text-primary"></i>
      </button>
    </div>
    <div class="flex flex-col space-y-4">
      <div class="w-full">
        <div for="brush-color" class="text-lg font-medium text-primary">
          🌈 颜色魔法
        </div>
        <div class="mb-4 grid grid-cols-6 gap-4">
          @for (c of colors; track $index) {
            <div class="flex h-full w-full items-center justify-center">
              <div
                (click)="selectColor(c.hex)"
                [ngStyle]="{
                  'background-color': c.hex,
                }"
                [ngClass]="{
                  'scale-125 border-black': activeColor() === c.hex,
                  'border-gray-200': activeColor() !== c.hex,
                }"
                class="color-option h-6 w-6 cursor-pointer rounded-full border-2 border-solid transition-transform duration-200 ease-in-out hover:scale-105 sm:h-8 sm:w-8"
              ></div>
            </div>
          }
        </div>
      </div>
      <div class="w-full">
        <div for="brush-width" class="text-lg font-medium text-pink-600">
          📏 粗细魔法
        </div>
        <input
          [ngModel]="penWidth()"
          (ngModelChange)="setPenWidth($event)"
          type="range"
          id="brush-size"
          min="1"
          max="35"
          class="w-[calc(100%-48px)]"
        />
        <span
          id="brush-size-value"
          class="w-8 items-center text-center text-xl"
          >{{ penWidth() }}</span
        >
      </div>
      <div class="w-full">
        <div for="brush-type" class="text-lg font-medium text-pink-600">
          ✨ 画笔魔法
        </div>
        <div class="flex w-full items-center justify-start space-x-5">
          <button
            (click)="changeBrush(BrushType.Crayon)"
            [ngClass]="{
              'bg-amber-200': brushType() === BrushType.Crayon,
              'bg-gray-200': brushType() !== BrushType.Crayon,
            }"
            class="rounded-full px-4 py-2"
          >
            <i class="fas fa-pencil text-2xl"></i>
          </button>
          <button
            (click)="changeBrush(BrushType.Marker)"
            [ngClass]="{
              'bg-amber-200': brushType() === BrushType.Marker,
              'bg-gray-200': brushType() !== BrushType.Marker,
            }"
            class="rounded-full px-4 py-2"
          >
            <i class="fas fa-marker text-2xl"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
